body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #c97412;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #c97412;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
}

form button {
    padding: 10px;
    background: #0d539e;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer a {
    color: #333; /* Change color to match your design */
    margin: 0 10px; /* Spacing between icons */
    text-decoration: none; /* Remove underline */
    font-size: 1.5em; /* Adjust icon size */
}

footer a:hover {
    color: #0077b5; /* Change color on hover */
}
